@charset "gb2312";
html {
    border: 0 none;
    margin: 0;
    padding: 0;
}
body{font-family:"Arial","풕턼환쥌","풻"; font-size: 12px;-webkit-text-size-adjust:none;background:url(/images/phone/bg.jpg) repeat left top;margin: 0 auto;}
a{color:#656565; text-decoration:none;}
a:hover{color:#1155CC;}
img{border:0px;}
ul,li{list-style:none;margin:0px;padding:0px;}
h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
    font-weight: normal;margin:0px;padding:0px;
}

.main{width:100%; margin:0 auto; overflow:hidden;}
	.head-title { background:#3B3B3B url(/images/phone/bg01.gif) no-repeat; color: #FFFFFF;height: 50px; margin: 0 auto;position: relative;}
		.head-title h3 { float: left;font-size: 16px;font-weight:700; line-height: 50px;padding-left: 42px;font-family:"풕턼환쥌";}
		.head-title a{ float: right;font-size: 14px; line-height: 29px;display:block;width:104px;height:29px;border-radius:5px;border:2px solid #545454;color:#fff;text-align:center;margin-top:7px;margin-right:20px;font-family:" 풕턼환쥌";}
	.content{width:933px; margin:auto; overflow:hidden;height:838px;position: relative;}
		.phone { background: url(/images/phone/bg04.png) repeat;height: 801px;left: 0; padding: 0;position: absolute;top: 14px; width: 420px;}
			.phone .phone-box {left: 38px; position: absolute; top: 117px; width: 347px;}
			#kuaizhan{overflow-y: scroll;overflow-x: hidden;border:0px;}
		.side-bar { position: absolute;right: 0;top: 118px;}
			.web-site{ background: url(/images/phone/bg08.png) repeat;height: 65px;margin-bottom: 25px; padding: 82px  0 0; width: 366px;}
				.web-site .web { background:#FFFFFF;border-radius: 5px; color: #222222; font-size: 17px; height: 37px;line-height: 36px;margin: 0 auto 0 44px;overflow: hidden; text-align: center;text-overflow: ellipsis;width: 290px;font-family:"풕턼환쥌";}
			.qr-code { background: url(/images/phone/bg09.png) repeat;height: 211px;margin-bottom: 25px; padding: 135px  0 0;width: 366px;}
				.qr-code .code-pic {margin: 0 auto 0 123px;}
			.platform-info {background:rgba(255, 255, 255, 0.2);color: #FFFFFF;font-size: 18px; line-height: 1.4em; margin-left: 14px;padding: 10px;text-align: center;}
				.platform-info a{ color: #0070ff; text-decoration: none;font-family:"풕턼환쥌";}
	.footer { background-color: rgba(255, 255, 255, 0.3);color: #FFFFFF; font-size: 18px;  padding: 18px 0;text-align: center;  width: 100%;height:24px;line-height:24px;}
		.footer span { display: inline-block;font-size: 0; height: 11px;overflow: hidden; width: 6px;font-family:"풕턼환쥌"; }	
		.footer .cor-l {background: url(/images/phone/bg10.png) repeat;margin-right: 10px;}
		.footer .cor-r { background: url(/images/phone/bg11.png) repeat; margin-left: 10px;}